@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --drop-shadow-glow-blue: 0px 0px 2px #000, 0px 0px 4px #000, 0px 0px 30px #0141ff, 0px 0px 100px #0141ff80;
    --drop-shadow-glow-red: 0px 0px 2px #f00, 0px 0px 4px #000, 0px 0px 15px #ff000040, 0px 0px 30px #f00, 0px 0px 100px #ff000080;
    --bg-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --bg-gradient-conic: conic-gradient(from 180deg at 50% 50%,
        var(--tw-gradient-stops));
}

body {
  color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}